h2 1. Tilføj emneord
.motif-tagging__controls
  .motif-tagging__add-tag
    .motif-tagging__add-input.material-input
      input(type='text', required)
      span.bar
      label Indtast nyt emneord og tryk enter
