include ../../mixins/tag
include ../../mixins/icon
- const tags = helpers.motifTagging.getVisionTags(metadata) || [];

if tags && tags.length && config.features.enableVisionTagSuggestions
  h2 Kan nogle af disse emneord bruges?

  p.motif-tagging__suggestion-explanation Emneordene er skabt med automatisk billedanalyse. Godkend ved at klikke ’thumbs up’ eller slet ved at klikke på krydset.
  each tag in tags || []
    .btn-group(data-tag=tag)
      +tag(tag)
      .motif-tagging__transfer-btn.btn.btn-success(data-action='transfer-motif-tag')
        +icon('thumbup')
      .motif-tagging__remove-btn.btn.btn-danger(data-action='remove-motif-tag')
        +icon('cross')
