if config.features.filterSidebar
  section#filterbar.filterbar
    .filterbar__item
      .filterbar__tab.filterbar__tab--filters
        .search-filter-sidebar__heading.search-filter-sidebar__tab
          button(data-action='show-filterbar-menu', aria-label='Åbn filtreringsmuligheder').search-filter-sidebar__tab Filtrering
      #sidebar.filterbar__menu.filterbar__menu--filters(aria-expanded='false')
        block sidebar
    .filterbar__item
      .filterbar__tab.filterbar__tab--sorting
        .search-filter-sidebar__heading.search-filter-sidebar__tab
          button(data-action='show-filterbar-menu', aria-label='Åbn sorteringsmuligheder').search-filter-sidebar__tab Sortering
      #sorting-menu.filterbar__menu.filterbar__menu--sorting(aria-expanded='false')
        include search-results-sorting
    .view-mode
      .filterbar__item(data-action='show-view-map')
        .filterbar__tab--map
          button(aria-label='Vis resultater på kort').search-filter-sidebar__heading.search-filter-sidebar__tab Kort
          +icon('location')
      .filterbar__item(data-action='show-view-list')
        .filterbar__tab.filterbar__tab--list
          button(aria-label='Vis resultater som liste').search-filter-sidebar__heading.search-filter-sidebar__tab Liste
          +icon('view-thumb')
  #filterbar--mobile.filterbar--mobile
    .filterbar--mobile__container
      .filterbar--mobile__button.filterbar--mobile__button--filters(data-action='show-filterbar-menu')
        +icon('toggles')
        button.search-filter-sidebar__heading.search-filter-sidebar__tab Filter
      .filterbar--mobile__button.filterbar--mobile__button--list(data-action='show-view-list')
        +icon('view-thumb')
        button.search-filter-sidebar__heading.search-filter-sidebar__tab Liste
      .filterbar--mobile__button.filterbar--mobile__button--map(data-action='show-view-map')
        +icon('location')
        button.search-filter-sidebar__heading.search-filter-sidebar__tab Kort
    .filterbar--mobile__container--close
      button.filterbar--mobile__button.filterbar--mobile__button--close(data-action='close-filter-menu', aria-label='Luk filtreringsmenuen')
        +icon('cross')
  #sidebarmobile.filterbar__menu.filterbar__menu--filters.search-filter-sidebar
    block sidebar
