if sortOptions
    .dropdown__options
        each val, key in sortOptions
            - var selected = (key === sorting)
            a.dropdown__option.search-filter-sidebar__heading(
            href=url,
            class=selected ? 'dropdown__option--active' : '',
            data-value=key
            ) #{val.label}
