extends index
include mixins/meta

append header
  +meta(data.page.title, data.page.soMeDescription, data.page.soMeImage.url)

block content
  .let-it-grow.page-wrap
    .container-fluid
      .row
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          if !data.page || data.page.state === 'draft'
            h1 Siden eksisterer ikke
          else
            h1= data.page.title
            p!= data.page.content.replace(/%COOKIE_LIST%/g, '<script id="CookieDeclaration" src="https://consent.cookiebot.com/e079a717-1a3f-4fd9-8677-b42d07ce6446/cd.js" type="text/javascript" async></script>')
