footer
  .container-fluid
    .row
      .col-xs-12.col-sm-7.col-lg-8.footer__menu
        if menus && menus.footer
          each item in menus.footer
            a.footer__element(href=item.url)= item.title

      .col-xs-12.col-sm-5.col-lg-4
        .footer__element Historie & Kunst
        .footer__element KØBENHAVNS KOMMUNE
        .footer__element Kultur- og Fritidsforvaltningen
        .footer__element Vesterbrogade 59
        .footer__element 1620 København V
        .footer__logo
          +icon('logo')
