script(type='text/javascript').
  (function() {
  var path = '//easy.myfonts.net/v2/js?sid=160896(font-family=FF+Unit+OT+Thin)&sid=160912(font-family=FF+Unit+OT+Light)&sid=160913(font-family=FF+Unit+OT+Medium)&key=HFE7fXHXKs',
  protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
  trial = document.createElement('script');
  trial.type = 'text/javascript';
  trial.async = true;
  trial.src = protocol + path;
  var head = document.getElementsByTagName("head")[0];
  head.appendChild(trial);
  })();

footer
  .container-fluid
    .row
      .col-xs-12.col-lg-8
        h2 Genveje
        
      .col-xs-12.col-lg-4
        .footer__element Historie & Kunst
        .footer__element KØBENHAVNS KOMMUNE
        .footer__element Kultur- og Fritidsforvaltningen
        .footer__element Vesterbrogade 59
        .footer__element 1620 København V
