footer
  .container-fluid
    .footer__element Københavns Stadsarkiv
    a.footer__element(href='http://www.kbharkiv.dk/') kbharkiv.dk
    .footer__element Københavns Rådhus
    .footer__element DK-1599 København V
    .footer__element Tel. +45 3366 2370 (man-ons 9-15, tors 10-17)
