script(type='text/javascript').
  (function() {
  var path = '//easy.myfonts.net/v2/js?sid=160896(font-family=FF+Unit+OT+Thin)&sid=160912(font-family=FF+Unit+OT+Light)&sid=160913(font-family=FF+Unit+OT+Medium)&key=HFE7fXHXKs',
  protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
  trial = document.createElement('script');
  trial.type = 'text/javascript';
  trial.async = true;
  trial.src = protocol + path;
  var head = document.getElementsByTagName("head")[0];
  head.appendChild(trial);
  })();

footer
  .container-fluid
    .footer__element Københavns Stadsarkiv
    a.footer__element(href='http://www.kbharkiv.dk/') kbharkiv.dk
    .footer__element Københavns Rådhus
    .footer__element DK-1599 København V
    .footer__element Tel. +45 3366 2370 (man-ons 9-15, tors 10-17)
