footer.footer
  .container-fluid
    .row
      .col-xs-12.col-sm-7.footer__menu
        if menus && menus.footer
          each item in menus.footer
            a.footer__element(href=item.url)= item.title
            br

      .col-xs-12.col-sm-5.footer__flex
        .footer__address
          | HISTORIE &amp; KUNST
          br
          | Københavns Kommune
          br
          | Kultur- og Fritidsforvaltningen
          br
          | Stormgade 20, 5. sal
          br
          | 1555 København V
        .footer__logo
          +icon('logo')
