extends ./geo-tagging

block geo-tagging__overlay
  h2 Placer billedet på kortet
  p Ved du hvor billedet er taget fra og i hvilken retning?
  p Placer først fotografen ved at klikke på kortet.
    | Fotografen er den grønne markør. Træk herefter i den røde markør og placer
    | markøren i den retning og med den længde, som billedets motiv viser.
  p Tak for din hjælp!
  a(href='/deltag').btn.btn-default Læs mere
