block content
  style.
    #map {
      width: 100%;
      height: 100%;
    }

  #map

script(src=`//maps.googleapis.com/maps/api/js?key=` + config.google.keys.restricted)
script(src=`../../scripts-browserify/markerclusterer.js`)
script(src=`../../scripts-browserify/infobox.js`)
