extends ./player-controls

block document__player-controls
  - const isDownloadable = helpers.isDownloadable(metadata);
  - const downloadText = isDownloadable ? 'Download' : 'Download ikke tilgængelig'
  - const hasBacksideAsset = helpers.hasBacksideAsset(metadata);
  - const getZoomTilesId = helpers.getZoomTilesId(metadata);

  if getZoomTilesId
    button(data-action='toggle-tiled-zoom').zoom-btn.btn.btn-transparent.btn-no-shadow
      +icon('zoom-in', 'zoom-in')
      span.zoom-in Zoom

  else
    button(data-action='toggle-expandable' type='button').hidden-xs.hidden-sm.zoom-btn.btn.btn-transparent.btn-no-shadow
      +icon('zoom-in', 'zoom-in')
      +icon('zoom-out', 'zoom-out')
      span.zoom-in Forstør billede
      span.zoom-out Formindsk billede

  button(data-action="download:show-overlay", aria-disabled= isDownloadable ? 'false' : 'true', class='document__player-controls__actions btn btn-transparent btn-no-shadow' type='button')
    +icon('download')
    span= downloadText

  if hasBacksideAsset
    button.document__player-controls__rotate(onclick="javascript:flipAsset()").btn.btn-transparent.btn-no-shadow
      +icon('clockwise')
      span.document__player-controls__rotate--item.document__player-controls__rotate--backside.document__player-controls__rotate--item--active
        | Se bagside
      span.document__player-controls__rotate--item.document__player-controls__rotate--front
        | Se forside

  div.document__player-controls--social-share
    a(href="javascript:fbshareCurrentPage()", title="Del på Facebook", aria-label="Del på Facebook")
      +icon('facebook')
    a(href="javascript:twittershareCurrentPage()", title="Del på Twitter", aria-label="Del på Twitter")
      +icon('twitter')
    a(href="javascript:pinterestshareCurrentPage()", title="Del på Pinterest", aria-label="Del på Pinterest")
      +icon('pinterest')
