extends player

block document__player
  - let players = helpers.determinePlayers(metadata);
  each player in players
    if (player.type === 'backside')
      include ./players/backside
    else
      include ./players/image
