extends ./player-controls

prepend document__player-controls
  div.document__player-controls--social-share
    a(href="javascript:pinterestshareCurrentPage()", target="_blank", alt="Del på Pinterest")
      +icon('pinterest')
