include ../mixins.jade

.search-filter-sidebar
  .search-filter-sidebar__heading
    h2 Valgte filtre
  .search-filter-sidebar__filters.search-filter-sidebar__chosen-filters
    button.btn.btn-primary.btn-close Hej
      +icon('close')

  .search-filter-sidebar__heading
    h2 Bydele
  .search-filter-sidebar__filters
    button.btn.btn-default Østerbro
      span.search-filter-sidebar__filter-count 1200
    button.btn.btn-default Vesterbro
    button.btn.btn-default København K
    button.btn.btn-default Nørrebro
