include ../mixins/icon

nav
  ul(aria-labelledby='heading-categories-menu', role='menu').nav.sidebar-menu
    if menus && menus.main
      block before
      each item in menus.main
        if item.children.length > 0
          li.sidebar-menu__children.sidebar-menu__children--inactive
            a(data-action='toggle-sidebar-submenu-item')= item.title
              .icon
                +icon('chevron-up')
            ul.children.hidden
              each child in item.children
                li
                  a(href=child.link)= child.title
        else
          li
            a(href=item.url)= item.title
    if config.features.users
      span.sidebar-menu__link-seperator
      if user
        li
          a(href='/min-side')= (user.name.givenName || user.nickname)
        li
          a(href='/logout') Log ud
      else
        li
          a(data-action='login') Log ind
.gray-overlay
