.topbar__hamburger.hidden-lg.hidden-md(data-action="toggle-sidebar-menu")
  +icon('menu')
  .topbar__hamburger-text Menu
span.topbar__menu.hidden-sm.hidden-xs
  if menus && menus.main
    each item in menus.main
      if item.children.length > 0
        .dropdown
          a.topbar__items-link.dropdown__selected= item.title
          .dropdown__options
            each child in item.children
              a(href=child.link).topbar__items-link.dropdown__option= child.title
      else
        a(href=item.url).topbar__items-link= item.title
