include ../mixins/icon

.topbar__auth.hidden-xs.hidden-sm
  if user
    .dropdown
      button.dropdown__selected.topbar__items-link.topbar__name.dropdown__button
        = (user.name.givenName || user.nickname)
        span.icon
          +icon('chevron-up')
      .dropdown__options
        a.dropdown__option(href='/min-side') Min side
        a.dropdown__option(href='/logout') Log ud
  else
    a.topbar__items-link(href='/login?state=' + helpers.encodeReturnState(req.url)) Log ind
