include ../mixins/icon

.topbar__auth.hidden-xs.hidden-sm
  .dropdown
    a.dropdown__selected
      +icon('user-shape')
    .dropdown__options
      if user
        a.dropdown__option
          = (user.name.givenName || user.nickname)
        a.dropdown__option(href='/logout') Log ud
      else
        a.dropdown__option(data-action='login') Log ind
