.overlay__container(data-content="auth-verification")
  .overlay__content
      h2 Du skal bekræfte din konto.
      p Din konto er endnu ikke bekræftet. Du kan bekræfte kontoen ved at klikke på linket i den mail vi har sendt dig. Hvis du ikke har modtaget en mail, så tjek dit spamfilter.
      p Bemærk at du skal logge af og på igen efter du har bekræftet din email.
