.asset-top {
  padding-bottom: 2rem;

  @media (min-width: $small-size) {
    padding-top: $topbar-height;
  }

  @media (min-width: $medium-size) {
    padding-top: $topbar-height * 3 / 2;
  }

  .asset-info {
    padding-top: $topbar-height / 4;
  }
}

.img-col,
.asset-top {
  transition: $anim-duration-fast ease;
}

.expanded {
  padding-top: 0;

  .img-col,
  .asset-info {
    width: 100% !important;
  }

  .asset-image--zoomable {
    cursor: zoom-out;
  }

  .metadata {
    max-width: ($large-size - 60px) / 12 * 7;
  }
}

.image-wrap {
  margin: 0 -15px;
  position: relative;

  @media (min-width: $small-size) {
    margin: 0;
  }
}

.kbh-asset-image {
  width: 100%;
}

.license {
  background-color: rgba($black, .5);
  bottom: 0;
  line-height: 0;
  max-width: 50%;
  padding: 1rem;
  position: absolute;
  right: 0;

  svg {
    fill: $white;
    fill-rule: evenodd;
    height: 4rem;
    max-height: 10vw;
    max-width: 100%;
    width: 15rem;
  }
}

.social {
  margin: 1rem 0;

  @media (min-width: $small-size) {
    text-align: left;
  }
}

.metadata {
  table {
    margin-top: .5rem;
  }

  th, td {
    vertical-align: top;
  }

  // ensure som padding on mobile
  th {
    padding-right: 1rem;

    @media (min-width: $small-size) {
      padding-left: 0;
    }
  }
}
