.btn {
  &-dark {
    background-color: $gray-dark;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($gray-dark, 10%);
      color: $white;
    }
  }
}

.btn-close {
  padding-right: $spacer-xs;
  position: relative;
}

.btn:not(
  .search-freetext-form__btn,
  .btn-no-shadow
) {
  @include shadow(1);

  @media (pointer:fine) {
    transition: $anim-default;

    &:hover,
    &:focus {
      @include shadow(2);
      transform: translateY(-1px);
      z-index: 1;
    }
  }
}
