// Variables are already loaded within the kbh billeder variables file

@import '../../collections-online/app/styles/functions-shadows';

@import '../../collections-online/app/styles/button';
@import '../../collections-online/app/styles/dropdown';
@import '../../collections-online/app/styles/input';
@import '../../collections-online/app/styles/main';
@import '../../collections-online/app/styles/typography';

@import '../../collections-online/app/styles/asset';
@import '../../collections-online/app/styles/asset-related';
@import '../../collections-online/app/styles/cookie-consent';
@import '../../collections-online/app/styles/document';
@import '../../collections-online/app/styles/footer';
@import '../../collections-online/app/styles/frontpage';
@import '../../collections-online/app/styles/gallery';
@import '../../collections-online/app/styles/geo-tagging';
@import '../../collections-online/app/styles/input-material';
@import '../../collections-online/app/styles/input-typeahead';
@import '../../collections-online/app/styles/input';
@import '../../collections-online/app/styles/loading';
@import '../../collections-online/app/styles/motif-tagging';
@import '../../collections-online/app/styles/feedback';
@import '../../collections-online/app/styles/overlay';
@import '../../collections-online/app/styles/page';
@import '../../collections-online/app/styles/filterbar';
@import '../../collections-online/app/styles/search-freetext-form';
@import '../../collections-online/app/styles/search-results-item';
@import '../../collections-online/app/styles/search-results';
@import '../../collections-online/app/styles/sidebar-menu';
@import '../../collections-online/app/styles/slick';
@import '../../collections-online/app/styles/tab-focus';
@import '../../collections-online/app/styles/to-top';
@import '../../collections-online/app/styles/topbar';
@import '../../collections-online/app/styles/translate';
@import '../../collections-online/app/styles/list-view.scss';
@import '../../collections-online/app/styles/map-view.scss';
@import '../../collections-online/app/styles/mobile-filter.scss';
