footer {
  padding: 2rem 0;
  font-size: 100%;
}

.footer {
  &__element {
    display: block;

    &:not(:last-child)::after {
      display: none;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__logo {
    line-height: 1;

    // 6162 8862  ,695328368
    $iconHeight: 8rem;
    $iconHeightResponsive: 25vw;
    $iconRatio: .695;
    svg {
      fill: $white;
      height: $iconHeight;
      max-height: $iconHeightResponsive;
      max-width: $iconHeightResponsive * $iconRatio;
      width: $iconHeight * $iconRatio;
    }
  }

  &__menu {
    font-family: $font-family-medium;
    @media (max-width: $small-size) {
      padding-bottom: 2rem;
    }
  }
}
