footer {
  padding: 2rem 0;
  font-size: 100%;
}

.footer {
  &__element {
    display: block;

    &:not(:last-child)::after {
      display: none;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__logo {
    margin-bottom: -1rem;

    svg {
      fill: $white;
      height: 9rem;
      width: 9rem;
      max-width: 20vw;
      max-height: 20vw;
      line-height: 0;
    }
  }

  &__menu {
    font-family: $font-family-medium;
    @media (max-width: $small-size) {
      padding-bottom: 2rem;
    }
  }
}
