.jumbo {
  background-color: $black;
  height: 50rem;
  max-height: 40vh;
  min-height: 25rem;
  position: relative;

  @media (min-width: $small-size) {
    max-height: 50vh;
  }

  @media (min-width: $medium-size) {
    max-height: 55vh;
  }

  @media (min-width: $large-size) {
    max-height: 60vh;
  }
}

$logo-height: 4rem;

.jumbo__flex,
.jumbo__logos {
  position: relative;
}

.jumbo__logos {
  fill: white;
  padding-top: 1rem;
  text-align: center;

  svg {
    height: $logo-height;
    width: 16rem;
    margin: 0 1rem;
    max-width: calc(50% - 2rem);
    fill-rule: evenodd;
    filter: url(#dropshadow);
  }

  .jumbo__svg-filter {
    width: 0;
    height: 0;
  }
}

.jumbo__flex {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .container-fluid {
    max-width: $large-size;
    width: 100%;
  }
}

.jumbo__teaser {
  color: $white;
  font-size: 2.2rem;
  letter-spacing: -.01em;
  line-height: 1.2;
  text-shadow: 0 0 1px rgba($black, .6), 0 0 4px rgba($black, .2);

  @media (min-width: $medium-size) {
    font-size: 3rem;
  }
}

.jumbo__image {
  background-image: url('../images/defaultshare.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: .50;
  position: absolute;
  top: 0;
  width: 100%;
}

.jumbo__search {
  align-items: center;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1l1-1v1H0z" fill="%23fff"/></svg>');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // Fix background peeping trough
  bottom: 0;
  display: flex;
  height: 8rem;
  height: calc(2rem + 10vw);
  max-height: 14rem;
  position: absolute;
  width: 100%;

  @media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    bottom: -.5px;
  }
  
  .container-fluid {
    max-width: $large-size;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .search-box {
    margin-top: 5rem;
    max-width: 60%;
    width: 18rem;
    flex-grow: 0;

    .btn {
      height: auto;
    }

    .input-group {
      background-color: $white;
      max-width: none;
      width: 100%;
    }

    .input-group::after {
      background-color: $brand-primary;
      height: 2px;
    }
  }

  .input-search {
    color: inherit;
    font-size: 1.6rem;
    height: 3rem;
    padding-bottom: .3rem;
  }

  .input-search::-webkit-input-placeholder {
    color: rgba($text-color, .8);
  }

  .input-search::-moz-placeholder {
    color: rgba($text-color, .8);
  }

  .input-search::-ms-input-placeholder {
    color: rgba($text-color, .8);
  }

  .btn-search svg {
    fill: $brand-primary;
    height: 2rem;
    margin-bottom: .2rem;
    width: 2rem;
  }
  @media (max-width: $medium-size) {
    .input-search {
      font-size: 1.2rem;
      height: 2rem;
    }

    .btn-search svg {
      height: 1.6rem;
      width: 1.6rem;
    }
  }
}

.fp-featured {
  padding: 3rem 0;

  @media (min-width: $small-size) {
    align-items: center;
    display: flex;

    .text-col-left {
      padding-right: 3rem;
    }
  }

  &__title {
    font-family: $font-family-thin;
    font-size: 3rem;
    letter-spacing: -.02em;
    margin-left: -.04em;

    @media (min-width: $medium-size) {
      font-size: 4.2rem;
    }
  }

  &__text {
    font-size: 1.2rem;

    @media (min-width: $medium-size) {
      font-size: 1.55rem;
    }
  }
}

.fp-thumb {
  position: relative;
  margin: 1rem 0;
  display: block;
  color: inherit;

  &:focus,
  &:hover {
    color: inherit;

    .fp-thumb__text {
      display: block;
    }
  }
}

.fp-thumb__image {
  max-width: 100%;
}

.fp-thumb__overlay {
  background-color: rgba($white, .75);
  // Safari bug fix
  bottom: -1px;
  max-height: 100%;
  max-height: calc(100% + 1px);
  overflow: hidden;
  padding: 0 15px;
  position: absolute;
  width: 100%;
}

.fp-thumb__title {
  font-family: $font-family-medium;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-top: 1rem;
}

.fp-thumb__text {
  display: none;
  font-size: 1.1rem;
  line-height: 1.2;
  margin-top: -.4rem;
}
