.gallery {
  @media (min-width: $small-size) {
    align-items: center;
    display: flex;
    padding: 1rem 0;

    &--odd {
      flex-direction: row-reverse;
    }

    .text-col-left {
      padding-right: 3rem;
    }
  }

  @media (min-width: $medium-size) {
    padding: 2rem 0;
  }

  &__title {
    // font-family: $font-family-medium;
    font-size: 2rem;
    letter-spacing: -.02em;
    margin-left: -.04em;

    @media (min-width: $medium-size) {
      font-size: 2.6rem;
    }

    @media (min-width: $large-size) {
      font-size: 3rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.5;

    @media (min-width: $medium-size) {
      font-size: 1.43rem;
      line-height: 1.4;
      letter-spacing: -.01em;
    }
  }

  &--slick {
    visibility: hidden; // Overriden by .slick-initialized so content doesn't jump
  }

   &__container {
    margin-bottom: $spacer-lg;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--carousel {
    position: relative;
    .gallery {
      &__title {
        float: left;
        margin-right: 6px;
        .is-mobile & {
          font-size: 1.4rem;
        }
      }
      &__subtitle {
        .is-mobile & {
          font-size: 1.2rem;
          margin-top: 25px;
        }
      }
    }
  }
  &--block {
    text-align: left;
    .is-mobile & {
      margin-top: $spacer-lg;
    }
    a {
      text-align: center;
      padding: 50px 15px;
      .is-mobile & {
        padding: 20px 0;
      }
      .is-desktop & {
        &:hover {
          background: white;
          text-decoration: none;
          @include shadow(5);
        }
      }
    }
    .flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .gallery {
      &-thumb {
        width: 100%;
        height: 100%;
        svg {
          fill: white;
        }
        &__title {
          margin: 1.5rem 0;
          .is-mobile & {
            font-size: 1.3rem;
          }
        }
        &__text {
          line-height: 2rem;
          .is-mobile & {
            line-height: 1.5rem;
          }
        }
      }
      &__items {
        display: inline-block;
      }
    }
  }
  &__title {
    font-size: 1.75rem;
    font-weight: bold;
    color: $black;
    margin: 1.5rem 0;
  }
  &__text, &__description {
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: bold;
  }
  &-thumb {
    float: left;
    margin: 0;
    &__text {
      display: block;
    }
    &__overlay {
      background: none;
      color: $gray-darker;
      padding: 0;
      width: auto;
      max-width: 230px;
      position: static;
    }
  }
  &--odd {
    flex-direction: row;
  }
  &--even {
    background: $gray-lighter;
  }
}

.gallery-thumb {
  color: inherit;
  display: block;
  margin: 1rem 0;
  overflow: hidden; // Needed because of the safari bug fix on overlay
  position: relative;

  &:focus,
  &:hover {
    color: inherit;

    .gallery-thumb__text {
      display: block;
    }
  }

  &__image {
    max-width: 100%;
  }

  &__overlay {
    background-color: rgba($black, .7);
    bottom: -1px; // Safari bug fix
    color: $white;
    max-height: 100%;
    overflow: hidden;
    padding: 0 15px;
    position: absolute;
    width: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  &__title {
    font-family: $font-family-medium;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-top: 1rem;
  }

  &__text {
    display: none;
    line-height: 1.2;
    margin-top: -.4rem;
  }
}

.gallery-thumb-carousel > .gallery-thumb__overlay {
  width: calc(100% - 30px);
}
