.topbar {
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: $brand-primary;
  font-family: $font-family-medium;
  letter-spacing: .02em;
  line-height: 1;

  &__search {
    .input-group {
      max-width: 16rem;
    }
  }
}
