.input-search::-webkit-input-placeholder {
  color: rgba($white, .8);
}
.input-search::-moz-placeholder {
  color: rgba($white, .8);
}
.input-search::-ms-input-placeholder {
  color: rgba($white, .8);
}
