.film {
  display: block;
  height: 0;
  margin: .5rem 0 1rem;
  padding-bottom: 56.25%;
}

.film iframe {
  height: 100%;
  width: 100%;
}

.billede {
  max-width: 100%;
}

.fuld-bredde {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
