.list-view {
  height: calc(100vh - 268px);
  overflow: scroll;
  transition: width 500ms ease-in;
  float: right;
  width: 50%;
  @include shadow(3);
  .is-list-view & {
    width: 100%;
  }
  .is-mobile.is-map-view & {
    display: none;
  }
  .is-mobile & {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 40px;
    background: white;
    overflow: visible;
    #filters, #results-header {
      display: none;
    }
    .load-more {
      display: inline-block;
      margin-bottom: 100px;
      width: 100%;
    }
  }
}
