/* Map styling shared between the live site and the map documentation. */
#mapPopup {
  color: black;
  position: absolute;
  display: none;
  width: 220px;
  cursor: pointer;
  background-color: #fff;
  border-top: 4px solid #e61a64;
  box-shadow: 0 3px 12px rgba(0,0,0,.08), 0 10px 40px rgba(0,0,0,.06);
}

#mapPopup::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

#mapPopupImage {
  height: 220px;
  width: 220px;
  background-size: cover;
}

#mapPopupClose {
  content: url('/app/images/icons/map/close.png');
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
}

#mapPopupHeading {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 8px;
  padding: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}

#mapPopupDescription {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 5px;
  padding: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}