// Styling shared between the live site and the map documentation.
@import "map-shared";

// Override map assets.
#mapPopupClose {
  content: url('/images/icons/map/close.png');
}
.ol-control select {
  background-image: url('/images/icons/map/downarrow.png');
}
#timeWarpClose {
  background-image: url('/images/icons/map/timewarpclose.png');
}
#timeWarpMode {
  background-image: url('/images/icons/map/timewarpsplit.png');
}
.map.split #timeWarpMode {
  background-image: url('/images/icons/map/timewarpcircle.png');
}
#mapLocation {
  background-image: url('/images/icons/map/location.png');
}
.map.location #mapLocation {
  background-image: url('/images/icons/map/locationwhite.png');
}
#timeWarpToggle {
  background-image: url('/images/icons/map/maptoggle.png');
}
.map.time-warp #timeWarpToggle {
  background-image: url('/images/icons/map/maptogglewhite.png');
}


