.motif-tagging {
  .print {
    display: none;
  }
  @media print {
    .non-print {
      display: none;
    }
    .print {
      display: block;
    }
  }
  &__tags {
    margin-top: $spacer-md;
  }
  &__edit-btn {
    svg {
      width: 12px;
      height: 12px;
    }
  }
}
