.page-wrap {
  padding: 3rem 0 5rem;

  @media (min-width: $small-size) {
    font-size: 1.1rem;
  }

  @media (min-width: $medium-size) {
    font-size: 1.2rem;
  }

  @media (min-width: $large-size) {
    font-size: 1.4rem;
  }

  h1,
  h2,
  h3 {
    font-family: $font-family-medium;
  }

  img {
    max-width: 100%;
  }
}
