.square-container {
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: 100%;
  width: 100%;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  // Object fit polyfil
  img {
    font-family: 'object-fit: cover;'
  }
}

.box .h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}
