.slick {
  &-slider {
    position: relative;
  }
  &-arrow {
    width: 100%;
    display: inline-block;
  }
  &-prev {
    left: -100px;
    background: url(../images/icons/arrow-thin-left.png) no-repeat center;
    &:focus {
      background: url(../images/icons/arrow-thin-left.png) no-repeat center;
      background-size: 16px;
    }
    &:hover {
      background: url(../images/icons/arrow-thin-left-hover.png) no-repeat center;
    }
  }
  &-next {
    background: url(../images/icons/arrow-thin-right.png) no-repeat center;
    right: -100px;
    &:focus {
      background: url(../images/icons/arrow-thin-right.png) no-repeat center;
      background-size: 16px;
    }
    &:hover {
      background: url(../images/icons/arrow-thin-right-hover.png) no-repeat center;
    }
  }
  &-next, &-prev {
    position: absolute;
    top: 165px;
    height: 48px;
    width: 48px;
    border-radius: 48px;
    opacity: 1;
    background-size: 16px;
    content: '';
    @include shadow(3);
    &::before {
      content: '';
    }
    &:hover {
      background-color: $brand-primary;
      background-size: 16px;
    }
  }
  &-dots {
    margin-top: 20px;
    position: static;
    li button::before {
      font-size: 45px;
      opacity: 1;
    }
    li.slick-active {
      button:before {
        color: white;
      }
      button::before {
        color: white;
        opacity: 1;
        border: 2px solid black;
        border-radius: 10px;
        width: 16px;
        height: 16px;
      }
    }
  }
}