// We need .scss because there is also a css file in the folder
@import '../../bower_components/slick-carousel/slick/slick.scss';
@import '../../bower_components/slick-carousel/slick/slick-theme.scss';

$slider-padding: 15px;

.slider {
  margin-top: .5rem;

  img {
    width: 100%;
  }
}

.slick-initialized {
  visibility: visible;
}

.slick-next {
  right: 0;

  &::before {
    content: '>';
  }
}

.slick-prev {
  left: 0;

  &::before {
    content: '<';
  }
}

.slick-next,
.slick-prev {
  background-color: $black;
  bottom: -40px;
  height: 30px;
  opacity: .8;
  top: inherit;
  width: 45px;
  z-index: 100;

  &:hover {
    background-color: $black;
    color: $white;
    opacity: 1;
  }

  &::before {
    font-family: FFUnitWebLight;
    font-size: 20px;
    opacity: 1;
  }
}

.slick-dots li button {
  &::before {
    font-family: FFUnitWebLight;
    font-size: 30px;
  }
}

.slick-disabled {
  visibility: hidden;
}

.slick-list {
  margin-left : -$slider-padding;
  margin-right: -$slider-padding;
}

.slick-slide {
  padding-left : $slider-padding;
  padding-right: $slider-padding;
}

.slick {
  &-list {
    width: 100%;
    margin: 0;
  }
  &-slide {
    padding-left: 0;
  }
  &-button-container {
    position: absolute;
    width: 100%;
    .is-desktop & {
      top: 105px;
    }
    .is-mobile & {
      bottom: 35px;
    }
  }
  &-slider {
    position: relative;
  }
  &-arrow {
    width: 100%;
    display: inline-block;
  }
  &-prev {
    .is-desktop & {
      left: -120px;
    }
    .is-mobile & {
      left: 0;
    }
    background: url(../images/icons/arrow-thin-left.png) no-repeat center;
    &:focus {
      background: url(../images/icons/arrow-thin-left.png) no-repeat center;
      background-size: 16px;
    }
    &:hover {
      background: url(../images/icons/arrow-thin-left-hover.png) no-repeat center;
    }
  }
  &-next {
    .is-desktop & {
      right: -80px;
    }
    .is-mobile & {
      right: 30px;
    }
    background: url(../images/icons/arrow-thin-right.png) no-repeat center;
    &:focus {
      background: url(../images/icons/arrow-thin-right.png) no-repeat center;
      background-size: 16px;
    }
    &:hover {
      background: url(../images/icons/arrow-thin-right-hover.png) no-repeat center;
    }
  }
  &-next, &-prev {
    height: 48px;
    width: 48px;
    border-radius: 48px;
    opacity: 1;
    background-size: 16px;
    content: '';
    @include shadow(3);
    &::before {
      content: '';
    }
    &:hover {
      background-color: $brand-primary;
      background-size: 16px;
    }
  }
  &-dots {
    position: static;
    margin-top: 40px;
    li button::before {
      font-size: 45px;
      opacity: 1;
    }
    li.slick-active {
      button:before {
        color: white;
      }
      button::before {
        color: white;
        opacity: 1;
        border: 2px solid black;
        border-radius: 10px;
        width: 16px;
        height: 16px;
      }
    }
  }
}
