// Outer edge of the tiled zoom "canvas"
.tiled-zoom-container {
  // Default to hidden, will be visible via .toggle() from tiled-zoomer.js.
  display: none;

  // Ensure markup nested under the view can position relative to the map-view
  // container.
  position: relative;

  // Go all the way to the edge.
  padding: 0;
  margin-left: 0;

  // This lands us with a too high container (we want 100% of the container
  // we're in, not 100% of the entire viewport) but it will do for now.
  height: 95vh;
  width: 100%;

  // Temporary styling while we wait for the actual implementation.
  background-color: darkgrey;

  // The control used to get us out of the visible mode again.
  .tiled-zoom__button--close {
    // Position the button top right on desktop.
    position: absolute;
    right: 40px;
    top: 30px;

    // Style the button as a circle with an svg inside it.
    width: 52px;
    height: 52px;
    border-radius: 26px;

    background-color: white;
    // Color gets inherited by the svg.
    color: black;

    // Position the button center-bottom on mobile.
    .is-mobile & {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: auto;
      bottom: 20px;
    }

    svg {
      // Position the svg inside the circle.
      position: absolute;
      left: 17px;
      top: 17px;
      margin: 0;

      // Beef up the strokes a bit.
      stroke: black;
      stroke-width: 40;
    }
  }
}
