- let downloadURL = helpers.getStreamURL(metadata);
- const baseCumulusVideoUrl = "https://cumulus.kbhbilleder.dk:8443/avm/embed";
iframe(
  class="asset__video"
  src=baseCumulusVideoUrl + downloadURL
)
  | Undskyld, din browser understøtter ikke dette videoformat du kan
  a(href=downloadURL) downloaded video
  | i stedet.
