- let downloadURL = helpers.getStreamURL(metadata);
iframe(
  class="asset__video"
  src=" http://demo.attention.dk/avm/embed/Demo/CBtTXJ3w"
)
  | Undskyld, din browser understøtter ikke dette videoformat du kan
  a(href=downloadURL) downloaded video
  | i stedet.
