- let videoUrl = helpers.getVideoUrl(metadata);
iframe(
  class="asset__video"
  src=videoUrl
)
  | Beklager, din browser understøtter ikke dette videoformat du kan
  a(href=videoUrl) downloade videoen
  | i stedet.
