html, body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

#map {
    width: 1000px;
    height: 600px;
}

#spacer {
    height: 100px;
}

label, input {
    cursor: pointer;
    user-select: none;
}