html, body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

#map {
    height:100%;
    position: absolute;
    left: 100px;
    top: 100px;
}
