include ../../mixins/format-date-interval

tr
  th(scope='row') #{row.title}:
  td
    - var fromDate = metadata[row.fields.from];
    - var toDate = metadata[row.fields.to];
    if(row.fields.estimated && metadata[row.fields.estimated] && (fromDate || toDate))
      | ca.
    +formatDateInterval(fromDate, toDate)
