extends map-coordinates

block map-coordinates__missing-coordinates-text
  | Endnu ikke placeret på kort


//- Empty out all the optional blocks from map-coordinates, we're handling it
//- in asset.pug
block map-coordinates__map

block map-coordinates__map--edit-coordinates

block map-coordinates__geotaggable

