- const title = section.time;
div(id=section.id).user-contributions__section
    .user-contributions__section-title.col-xs-12=title
    .user-contributions__section-items
        each item in section.items
            include user-contributions-item


