block document__navigator
  a.document__navigator-arrow.document__navigator-arrow--left.document__navigator-arrow--hidden(aria-label="Gå til forrige billede")
    +icon('chevron-left')
    .document__navigator-preview
  a.document__navigator-arrow.document__navigator-arrow--right.document__navigator-arrow--hidden(aria-label="Gå til næste billede")
    .document__navigator-preview
    +icon('chevron-right')
