include ../mixins/icon

header.topbar(class=frontpage ? 'topbar--frontpage' : '')
  nav
    .topbar__items
      include ./topbar-menu
      include ./topbar-search
      if config.features.users
        include ./topbar-auth
  if messages
    include ./topbar-messages