extends asset

block document__top-metadata
  .document__top-metadata.col-md-5
    if(title)
      h1.document__title= title
    if(description)
      p.sr-only Beskrivelse
      p.document__description= description
    if(secondaryDescription)
      p= secondaryDescription
    != assetSection('time', metadata)
    != assetSection('place', metadata)

block document__bottom-metadata
  .row
    .col-sm-7
      != assetSection('additional-information', metadata)
    .col-sm-5
      != assetSection('technical-information', metadata)
