extends asset

block document__top-metadata
  - const documentTitle = helpers.documentTitle(metadata);
  - const documentDescription = helpers.documentDescription(metadata);
  - const secondaryDescription = helpers.documentSecondaryDescription(metadata);
  .document__top-metadata.col-xs-12.col-md-5
    if(documentTitle)
      h1.document__title= documentTitle
    if(documentDescription)
      p.sr-only Beskrivelse
      p.document__description= documentDescription
    if(secondaryDescription)
      p= secondaryDescription
    != assetSection('time', metadata)
    != assetSection('place', metadata)

block document__bottom-metadata
  .row
    .col-sm-7
      != assetSection('additional-information', metadata)
    .col-sm-5
      != assetSection('technical-information', metadata)
