extends frontpage
include mixins/meta
include mixins/search-freetext-form
  
block content-top
  // Only show the first jumbo item for now.
  - var jumboItem = jumboItems[0]
  - var hasJumboItems = jumboItems.length > 0;

  .jumbo
    if hasJumboItems
      if jumboItem.image.url
        .jumbo__image(style="background-image: url('" + jumboItem.image.url + "');")
      else
        .jumbo__image
    else
      .jumbo__image
    .container-fluid
      .jumbo__inner
        .col-xs-12.col-xs-12.col-sm-8.col-md-8
          .jumbo__teaser
            if hasJumboItems
              p= jumboItem.description1 + ' ' + totalAssets + ' ' + jumboItem.description2
            else
              include includes/tagline
        .col-xs-12.col-xs-12.col-sm-8.col-md-8.clear
          .jumbo__search
            +searchFreetextForm('Søg efter billeder', 'jumbo')
        .col-xs-12
          .jumbo__logos
            a.kbh-museum-logo(href="/søg?institution=Københavns+Museum")
              +icon('kbh-museum')
            a.kbh-arkiv-logo(href="/søg?institution=Københavns+Stadsarkiv")
              +icon('kbh-arkiv')
            a.frederiksberg-logo(href="/søg?institution=Frederiksberg+Stadsarkiv")
              +icon('frb-arkiv')
            if config.features.magasinMuseum
              a.magasin-logo(href="/søg?institution=Magasin+Museum")
                +icon('magasin-museum')
    .jumbo__triangle

block content-bottom
  .frontpage-galleries
    - var gridGalleryCount = 0
    each gallery, i in galleries
      - gridGalleryCount += 1
      - var evenOrOdd = (gridGalleryCount % 2 == 0 ? 'even' : 'odd')
      -if(gallery.appearance === 'grid')
        .gallery__container(class="gallery--" + evenOrOdd)
          .container-fluid
            +gridGallery(gallery, i, evenOrOdd)
      -if(gallery.appearance === 'carousel')
        .gallery__container(class="gallery--" + evenOrOdd)
          .container-fluid
            +carouselGallery(gallery, evenOrOdd)
      -if(gallery.appearance === 'block')
        .gallery__container(class="gallery--" + evenOrOdd)
          .container-fluid
            +blockGallery(gallery, evenOrOdd)

append javascript
  - baseURL = 'http://' + (req.get('x-forwarded-host') || req.get('host')) + '/'
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "#{baseURL}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "#{baseURL}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
