mixin searchResultAssetSquare(asset)
  .box.col-xs-6.col-md-4
    a(href='#{asset.link}')
      if asset.type == 'video'
        .video-thumbnail
          .icon
      else
        .image
          .overlay.square-container
            img(src='#{asset.thumbnailURL}').rotation.object-fit
            if asset.type == 'image-rotation'
              +icon('rotation')
      .box__meta
        h2.h4 #{asset.title}
        p.description #{asset.description}
