extends frontpage
include mixins/meta
include mixins/search-freetext-form

append header
  +meta()

block content
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")
    h2= user.nickname
