.map-view {
  padding: 0;
  height: calc(100vh - 226px);
  margin-left: 0;
  float: left;
  width: 100%;
  // Don't display map on list view.
  .has-filter-open & {
    display: none;
  }
  .is-list-view & {
    display: none;
  }
  .is-mobile.is-map-view & {
    width: 100%;
    height: calc(100vh - 40px);
  }
}

.infoBox {
 background-color: #fff;
 border-top: 4px solid $brand-primary;
 text-align: center;
 @include shadow(3);
 a {
   color: inherit;
   text-decoration: none;
 }
 h1 {
   font-size: 18px;
   margin-bottom: 20px;
   padding: 0 10px;
 }
}

.infoBox:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}