$heading-adjustment: 2px;

.filterbar {
  background: $gray-light;
  min-width: 100%;
  display: block;
  height: $topbar-height + 2;
  &__menu {
    position: absolute;
    right: 0;
    left: 0;
    top: $topbar-height + 2;
    display: none;
    width: auto;
    min-width: 300px;
    z-index: 10;
    @include shadow(3);
    .dropdown {
      &__options {
        position: static;
        opacity: 1;
        visibility: visible;
      }
      &__option {
        &--active {
          color: $brand-primary;
        }
      }
    }
  }
  &__item {
    float: left;
    position: relative;
  }
  &__tab {
    position: relative;
    z-index: 11;
    display: inline-block;
  }
}

.search-filter-sidebar {
  background: white;
  margin: 0;

  @media (min-width: $small-size) {
    margin: 0;
  }

  &__heading {
    background: white;
    font-family: $font-family-medium;
    font-size: 1rem;
    line-height: $spacer-sm * 4;
    margin: 0;
    padding-left: $spacer-sm + $spacer-xs;
    padding-right: $spacer-sm + $spacer-xs;
    user-select: none;

    @media (min-width: $small-size) {
      font-size: 1.285714286rem; // 18/14
      padding-bottom: -$heading-adjustment;
      padding-left: $spacer-sm;
      padding-right: $spacer-sm;
      padding-top: $heading-adjustment;
    }

    &::first-letter {
      text-transform: uppercase;
    }

    &:focus {
      outline: none;
    }

    // Used for mobile accordion navigation
    span {
      cursor: pointer;
      display: inline-block;
      padding-right: $spacer-lg;
      position: relative;
      width: 100%;

      &::first-letter {
        text-transform: uppercase;
      }

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6 8.6L12 13.2 7.4 8.6 6 10l6 6 6-6z' fill='rgba(0,0,0,0.3)'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: $spacer-lg;
        bottom: $spacer-xs / 2;
        content: '';
        position: absolute;
        right: - $spacer-xs;
        top: 0;
        transition: .3s ease;
        width: $spacer-lg;
      }

      &.expanded::after {
        transform: rotate(180deg);
      }

      &:not(:last-child) {
        margin-right: $spacer-sm;
      }
    }
  }

  &__tab {
    float: left;
    background: $gray-light;
  }

  &__dates {
    margin: $spacer-xs;

    input {
      margin-bottom: $spacer-sm;
    }
  }

  &__filters {
    display: none;

    &--expanded {
      display: block;
    }
  }

  &__filters,
  &__chosen-filters {
    background-color: rgba(white, .5);
    padding: $spacer-sm;

    @media (min-width: $small-size) {
      padding: $spacer-xs;
      padding-bottom: $spacer-sm;
    }
  }

  .filter-text {
    line-height: 1.4;
    margin: $spacer-xs;
  }

  &__filter-btn {
    margin: $spacer-xs;
    // expected max-width: 100%; would work, but margin gives issues.
    max-width: 90%;
    max-width: calc(100% - #{$spacer-xs * 2});

    &:not(:first-child) {
      margin-top: 0;
    }

    // See http://stackoverflow.com/questions/35464067/flexbox-not-working-on-button-element-in-some-browsers
    &-container {
      display: flex;
      flex-wrap: nowrap;
    }

    @if $filter-btn-full-width == true {
      justify-content: space-between;
      width: 100%;

      &-text {
        flex-grow: 1;
        text-align: left;
      }
    }

    &-count,
    &-text,
    svg {
      align-self: center;
    }

    &-count {
      font-family: $font-family-light;
      font-weight: 300;
      padding-left: $spacer-xs;
    }

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    svg {
      flex-shrink: 0;
      margin: 0 $filter-btn-svg-right-margin 0 .5em;
    }
  }
}
