- const thumbnailUrl = helpers.getThumbnailURL(metadata, 2000, 'bottom-right');
- const title = helpers.documentTitle(metadata);
img(src=thumbnailUrl, alt=title, data-action='toggle-expandable').asset__image
